visuals/

bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

.vscode/

project.lock.json
project.fragment.lock.json
artifacts/

*.appx
*.appxbundle
*.msix
*.msixbundle
*.msixupload
*.appxupload
*.appxsym

Package.appxmanifest
*.psmdcp
AppPackages/
TestResults/
BundleArtifacts/

*.pfx
*.cer

*.tmp
*.log

GeneratedFiles/

*.nupkg
*.snupkg
*.nuspec
.nuget/
packages/
*.nuspec
*.cache
*.dat
*.nuproj
*.props
*.targets

*.vs/
*.dbmdl
*.vssscc
*.vspscc
*.DotSettings.user
*.orig

appsettings.Development.json
secrets.json

*.ipch/
*.aps/
*.ncb
*.sdf
*.opendb
*.VC.db
*.VC.VC.opendb
